<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="Microsoft.StyleCop.PPWStyle" version="1.0.3" targetFramework="net35" developmentDependency="true" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net35" />
  <package id="PPWCode.Vernacular.Exceptions.II" version="1.0.0" targetFramework="net45" />
  <package id="PPWcode.Vernacular.Semantics.II" version="1.0.0" targetFramework="net45" />
</packages>