<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.1" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.1.0.4000" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net35" />
  <package id="NHibernate" version="3.1.0.4000" targetFramework="net45" />
  <package id="NHibernateProfiler.Appender" version="3.0.3069.0" targetFramework="net45" />
  <package id="PPWCode.Util.OddsAndEnds.I" version="3.0.0.0" targetFramework="net45" />
  <package id="PPWCode.Vernacular.Exceptions.I" version="3.0.0.0" targetFramework="net45" />
  <package id="PPWcode.Vernacular.Semantics.I" version="3.1.0-rc0100008" targetFramework="net45" />
  <package id="Spring.Core" version="1.3.1" targetFramework="net45" />
  <package id="StyleCop.MSBuild.PPWCode" version="4.7.49.0" targetFramework="net35" developmentDependency="true" />
</packages>